:root{
  --columnas: 15;
  --filas: 15;
  --tama単o: 20px;
}
 
#tablero{
  display:grid;
  grid-template-columns: repeat(var(--columnas), var(--tama単o));
  grid-template-rows: repeat(var(--filas), var(--tama単o));
}
 
#tablero div{
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
  text-align: center;
  line-height: var(--tama単o);
}