
body {
    background-image: url("../img/fondomorado.png");
    display: grid;
    align-content: center;
}
p {
    font-family: "Roboto";
    color: cornsilk;
}
#espacio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1500px;
    height: 650px;
    background-color:#010033;
    
}

body {
    background-image: url("../img/fondomorado.png");
    display: grid;
    align-content: center;
}
h1{
    font-family: 'Sahita';
    src: url('../../../statics/fonts/Sahita/Sahitya-Bold.ttf');
    font-size: 5rem;
    color: #9DFFDC;
}

@media screen and (max-width:800px ) {
    #espacio {
        margin-left: 10px;
        width: 650px;
        height: 600px;
    }
}

p{
    color: cornsilk;
    font-size: 2em;
s}

