#espacio {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: none;
}

body {
    background-image: url("../img/fondomorado.png");
    display: grid;
    align-content: center;
}

@media screen and (max-width:800px) {
    #espacio {
        margin-left: 10px;
        width: 650px;
    }
}

