p {
    text-align: center;
    color: orange;
}

body {
    overflow: hidden;
}

#juegos {
    z-index: 1;
}

#juegos>a>img:hover, #juegos>a:focus {
    width: 270px;
    height: 270px;
}

#division {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

#espacio {
    width: 75%;
    background: none;
}

#espacio>img:nth-child(2) {
    animation: mymove2 3s linear infinite;
}

#espacio>img:nth-child(1) {
    animation: mymove1 3s linear infinite;
}

#espacio>img:nth-child(4) {
    animation: mymove3 3s linear infinite;
}

@keyframes mymove2 {
    0% {
        transform: translate(0px, 0%);
    }

    10% {
        transform: translate(100px, 60%);
    }

    30% {
        transform: translate(200px, 0%);
    }

    50% {
        transform: translate(400px, 60%);
    }

    60% {
        transform: translate(600px, 0%);
    }

    65% {
        transform: translate(800px, 60%);
    }

    100% {
        transform: translate(1000px, 0%);
    }
}

@keyframes mymove1 {
    0% {
        transform: translate(0px, 0%);
    }

    50% {
        transform: translate(400px, 50%);
    }

    100% {
        transform: translate(1000px, 100%);
    }
}

@keyframes mymove3 {
    0% {
        transform: translate(1000px, 60%);
    }

    50% {
        transform: translate(400px, 30%);
    }

    100% {
        transform: translate(0px, 0%);
    }
}

@media screen and (max-width:800px) {

    h1 {
        color: #50FFE1;
        font-size: 5.5rem;
        text-align: center;
    }

    h1>img {
        display: none;
    }

    #division {
        flex-direction: column;
    }

    #espacio {
        width: auto;
        height: 620px;
    }

    #juegos>a>img {
        margin-left: 30%;
    }

}