#black, #white {
    margin-top: 20px;
    margin-left: 50px;
}

#espacio {
    height: 500px;
    flex-direction: row;
}

body {
    background-image: url("../img/fondomorado.png");
}

h3 {
    color: #010033;
}
h1{
    font-family: 'Sahitya';
    src: url('../fonts/Sahita/Sahitya-Bold.ttf');
    font-size: 5rem;
    color: #9DFFDC;
}
#black:hover {
    width: 500px;
    height: 300px;
}

#white:hover {
    width: 500px;
    height: 300px;
}
@media screen and (max-width:800px) {
    #espacio {
        width: 93%;
        height: auto;
        margin-left: 20px;
        flex-direction: column;
    }

    #usuario {
        margin-left: 150px;
    }

    #black,
    #white {
        margin-top: 20px;
        margin-left: 10px;
        width: 550px;
    }

    #black:hover {
        width: 500px;
        height: 300px;
    }
    

    #white:hover {
        width: 500px;
        height: 300px;
    }
}