#espacio {
    flex-direction: row;
    background-color:transparent;
}

#PBM,
#PB {
    margin-top: 10px;
    margin-left: 60px;
    background-color: #72A1C9;
    width: 650px;
    height: 600px;
}

body {
    background-image: url("../img/fondomorado.png");
}

h3 {
    color: #010033;
}

@media screen and (max-width:800px) {

    #espacio {
        width: 90%;
        height: auto;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    #PBM,
    #PB {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 20px;
        background-color: #72A1C9;
        width: 600px;
        height: 600px;
    }

}