<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="../lib/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="../lib/bootstrap-5.0.1-dist/css/bootstrap.min.css">
	<link rel="shortcut icon" href="../statics/img/octo.jpg">
	<link rel="stylesheet" href="../statics/styles/basics.css">
	<link rel="stylesheet" href="../statics/styles/buscaminas.css">
	<style>
		@font-face {
			font-family: 'Roboto';
			src: url('../statics/fonts/Roboto/Roboto-Bold.ttf');
			font-style: normal;
			font-weight:normal;
		}
		h1{
			font-size: 6.5rem;
			text-align: center;
			color: #50FFE1;
			margin-top: 10px;
		}

		h1, h2, h3, h4{
			font-family: "Roboto" !important;
			color: #50FFE1;
			text-align: center;
		}

	</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #885FBD;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="../statics/img/octo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
				
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="../index.html" tabindex="0"><i class="fas fa-home"></i> Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../templates/personalizacion.html" tabindex="0"><i class="fas fa-pen-nib"></i> Personalización</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../templates/puntajes.html" tabindex="0"><i class="fas fa-gamepad"></i> Puntajes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../templates/creditos.html" tabindex="0" aria-disabled="true"><i class="fas fa-users"></i> Creditos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main>
		<br>
		<h1>Buscaminas</h1>
		<div id="mensaje">
			<h3>¿Cómo jugar?</h3>
			<h3>Con click revelas lo que cada casilla esconde y con click derecho colocas una banderita</h2>
		</div>

		<div id="tablerominas" class="tablero"></div>

		<br>
		<button id="play" class="btn btn-info">Jugar de nuevo</button>
		
	</main>


	<script src="../lib/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
	<script src="../dynamics/js/cookies.js"></script>
	<script src="../dynamics/js/buscaminas/busca.js"></script>
</body>

</html>