<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="../lib/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="../lib/bootstrap-5.0.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../statics/styles/buscaminas.css">
</head>
<body oncontextmenu="return false;">
    <button id="play">Jugar</button>
    <button id="Save">Terminar Partida</button>
		<div id="tablerominas" class="tablero"></div>


	<script src="../lib/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
	<script src="../dynamics/js/buscaminas/buscaminas.js"></script>
</body>

</html>